.footer {
  background: #c8c8c8;
  padding: 1em;
  text-align: center;
  font-size: 0.9em;
  color: #555;
  border-top: 1px solid #ddd;
}

/* Will highlight text blue if hovered over*/
.footer a {
  color: #0078e7;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
