.NavbarFormat {
  background-color: #322f2f;
  /* min-height: 100vh; */
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
