/* Note that this taken from the React Quickstart */

.RepoTable {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  margin: auto;
  /* CHANGE PADDING LATER*/
  padding: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
}
