/* remove default bullets and sets a top margin between it and the search bar*/
.RepoTable {
  list-style: none;
  margin-top: 1rem;
}

.repoItem {
  width: 100%;
  padding: 0.5rem;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  text-align: left;
}

/* Title of the List item */
.repoName {
  margin: 0.5rem 0.5rem;
  padding: auto;
}

/* Description of the Item */
.repoDescription {
  margin: 0.5rem 0.5rem;
  color: #ffffff;
}

.repoStars {
  margin: 0.5rem 0.5rem;
  font-size: 0.9rem;
  color: #ffffff;
}

/* If hover over the item light up the item, need to update the placement*/
.repoLink:hover .repoItem {
  background-color: #827e7e;
  transition: background 1s ease;
}

.repoAvatar {
  /* Uncomment below to make this circular*/
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.75rem;
  vertical-align: middle;
}

/* Row Formatting */
.repoRow {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  align-items: center;
}

.repoAvatarWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
}
