/* remove default bullets and sets a top margin between it and the search bar*/
.RepoTable {
  list-style: none;
  /* margin-top: 1rem; */
  max-height: 300px;
  overflow-y: auto;
}
/* Row Formatting */
.repoRow {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.repoItem {
  padding: 0.5rem;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  text-align: left;
}

/* Title of the List item */
.repoName {
  margin: 0.5rem 0.5rem;
  padding: auto;
}

/* Description of the Item */
.repoDescription {
  margin: 0.5rem 0.5rem;
  /* To stop text from overflowing weirdly, likely a better way to fix this */
  padding-right: 5rem;
  color: #ffffff;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.repoStars {
  margin: 0.5rem;
  font-size: 0.9rem;
  color: #ffffff;
}

/* If hover over the item light up the item, need to update the placement*/
.repoLink:hover .repoItem {
  background-color: #434343;
  transition: background 0.5s ease;
}

.repoAvatar {
  /* Uncomment below to make this non-circular (personal preference)*/
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0rem;
  vertical-align: middle;
  /* needed to make sure images are all the same size */
  min-width: 5em;
}
.repoAvatarWrapper {
  display: block;
  margin: 0 auto; /* Needed for the image centering,  */
  /* Width and Height of the images are fixed*/
  width: 5rem;
  height: 5rem;
}

.repoText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  min-width: 0; /* allow flex item to shrink */
  word-break: break-word; /* break long text */
}
/* Needed for the React Markdown stuff seen on the commit and issue page*/
.repoText p,
.repoText pre,
.repoText code {
  white-space: pre-wrap; /* prevents code blocks from overflowing */
}
