.searchform {
  width: 100%;
  padding: 1rem;
}

.buttonContainer button {
  padding: 0.5rem 0.5rem;
  /* padding-left: 10%; */
  /* padding-right: 10%; */
  font-size: 1rem;
}

.buttonContainer input {
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  border-color: black;
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
