.searchform {
  width: 100%;
  padding: 1rem;
}

.buttonContainer button {
  padding: 0.5rem 0.5rem;
  /* padding-left: 10%; */
  /* padding-right: 10%; */
  font-size: 1rem;
}

.buttonContainer input {
  padding: 0.5rem 0.5rem;
  width: 100%;
  border-radius: 10px;
  border-color: black;
}

.buttonContainer input[type="text"]:focus {
  background-color: rgb(154, 154, 154);
  transition-duration: 0.2ms;
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Special thanks for https://www.w3schools.com/css/css_form.asp */
.buttonContainer input[type="search"],
.buttonContainer input[type="text"] {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.2rem;
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0.5rem 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

.buttonContainer {
  position: relative;
  font-size: small;
}

.buttonContainer button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  height: var(--height);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem;
}

.buttonContainer input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}

.buttonContainer input:not(:placeholder-shown) + button {
  display: block;
}

.searchform label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
